name: animated_search_bar
description: A Beautiful and Simple SearchBar widget with animation transition. It can be fully customized with label, labelStyle, searchDecoration, etc. It also maintains onChange state.
version: 2.7.0
homepage: https://github.com/ukieTux/animated_search_bar

environment:
  sdk: "^2.12.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
